* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    width: 1270px;
    inset: 0;
    max-height: 540px;
}

.img-bg {
    width: 1280px;
    height: 555px;
    z-index: 1;
}

.container-content {
    z-index: 5;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: grid;
    gap: 20px;
    min-height: auto;
    min-width: auto;
    /* padding: 20px; */
}

.game-title {
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.actor-game {
    color: #a3a0a0;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.btn-option {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.btn-option a {
    color: #fff;
}

a {
    margin: 10px;
    border: 2px solid rgb(184, 179, 179);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-game {
    display: flex;
    align-items: center;
    margin-top: 30px;
    color: #fff;
}

.btn-right-left {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.btn-top-bottom {
    height: 160px;
    position: absolute;
    top: -154px;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.btn-space {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.btn-game span {
    margin-left: 30px;
}

@media (min-width: 600px) {
    .container {
        width: 100%;
    }

    .img-bg {
        width: 100%;
        height: fit-content;
    }
}

/* Media query for desktops */
@media (min-width: 1024px) {
    .container {
        width: 100%;
    }

    .img-bg {
        width: 100%;
        height: fit-content;
    }
}

/* Media query for large desktops */
@media (min-width: 1440px) {
    .container {
        width: 100%;
    }

    .img-bg {
        width: 100%;
        height: fit-content;
    }

    .container-content {
        margin-top: 100px;
    }
}